* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Desktops and laptops ----------- */
@media only screen and (max-width: 1920px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .header {
    width: 100%;
    min-height: 85vh;
    background-image: url("../img/m-h-day.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0% 0% 39% 49%/99% 59% 39% 0%;
  }
  .header-wrap {
    padding-top: 7vh;
    padding-left: 10vw;
    height: 100%;
    width: 100%;
  }
  .header-wrap .header-logo {
    display: flex;
    flex-direction: row;
  }
  .header-wrap .header-logo .footer-logo img {
    min-width: 3vw;
    min-height: 3vh;
  }
  .header-wrap .header-logo p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
    font-size: 1.5rem;
    font-weight: 700;
    color: #21232e;
  }
  .header-wrap .header-logo p > span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.7rem;
    color: #21232e;
  }
  .header-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 25vw;
    min-width: 400px;
    height: 23vh;
  }
  .header-title h1 {
    font-size: 3.5em;
    color: #21232e;
  }
  .header-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
    height: 15vh;
    width: 35vw;
    min-width: 400px;
    color: #21232e;
  }
  button {
    background-color: rgb(51, 146, 43);
    color: white;
    border: none;
    border-radius: 5px;
    width: 6vw;
    height: 4vh;
    font-size: 1em;
    min-width: 100px;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: 20vh;
  }
  .header-nav .header-button {
    display: flex;
    width: 20vw;
    min-width: 150px;
  }
  .header-nav .header-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20vw;
    min-width: 200px;
  }
  .header-nav .header-link a {
    color: white;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 768px;
  }
  .main-title {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main-title h2 {
    font-size: 2.5rem;
  }
  .main-box {
    width: 60vw;
    min-width: 768px;
  }
  .main-box-container {
    display: flex;
    flex-direction: row;
    margin: 1vh;
    color: aliceblue;
    background-color: #21232e;
    width: 100%;
    height: 32vh;
    border-radius: 5px;
  }
  .main-box-container .photo-box {
    display: flex;
    flex-direction: row;
    width: 40vw;
    min-width: 400px;
    height: 100%;
    padding: 1vh;
  }
  .main-box-container .photo-box img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .main-box-container .description-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1vh;
  }
  .main-box-container .description-box h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35%;
    color: white;
    font-size: 1.5rem;
  }
  .main-box-container .description-box p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
    width: 85%;
    min-width: 350px;
    color: #bbbec9;
    font-size: 1.15rem;
  }
  .main-box-container .description-box a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15%;
    color: #bbbec9;
  }

  .main-banner {
    width: 64vmax;
    height: 9vmax;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background: linear-gradient(
      to right,
      rgb(3, 158, 65) 0%,
      rgba(5, 117, 230, 1) 100%
    );
    z-index: 1;
    margin: 5vmax 0 -3.5vmax 0;
  }

  .main-banner .main-banner-box {
    width: 100%;
    height: 100%;
    padding: 0 10vmax;
    display: flex;
    flex-direction: row;
  }

  .main-banner .main-banner-description {
    width: 50%;
    min-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .main-banner .main-banner-description h3 {
    font-family: inherit;
    font-size: 1.4em;
    color: #21232e;
  }

  .main-banner .main-banner-description p {
    color: #bbbec9;
    font-size: 0.8rem;
  }

  .main-banner .main-banner-button {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .footer {
    background-color: #21232e;
    color: rgb(194, 194, 194);
    height: 10vmax;
    width: 100%;
    min-width: 100vw;
  }
  .footer-wrap {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
  }
  .footer .footer-wrap > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.3%;
    margin: 0 1vmax;
    padding-bottom: 1vmax;
    padding-top: 4vmax;
  }
  .footer-wrap .footer-logo {
    display: flex;
    align-items: center;
  }
  .footer-wrap .footer-logo img {
    display: flex;
    width: 3vmax;
    height: 3vmax;
  }
  .footer-wrap .footer-logo p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 1vmax;
  }
  .footer-wrap .footer-logo p > span {
    font-weight: 500;
    font-size: 0.6rem;
  }
  .footer-wrap .footer-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 350px;
  }
  .footer-wrap .footer-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media only screen and (max-width: 2560px) and (min-width: 1921px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .header {
    width: 100%;
    min-height: 85vh;
    background-image: url("../img/m-h-day.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0% 0% 39% 49%/99% 59% 39% 0%;
  }
  .header-wrap {
    padding-top: 7vh;
    padding-left: 10vw;
    height: 100%;
    width: 100%;
  }
  .header-wrap .header-logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* min-height: 50px; */
  }
  .header-wrap .header-logo img {
    min-width: 79px;
    min-height: 79px;
  }
  .header-wrap .header-logo p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
    font-size: 2.5rem;
    font-weight: 700;
    color: #21232e;
  }
  .header-wrap .header-logo p > span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.2rem;
    color: #21232e;
  }
  .header-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 30vw;
    min-width: 400px;
    height: 23vh;
  }
  .header-title h1 {
    font-size: 5rem;
    color: #21232e;
  }
  .header-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
    height: 15vh;
    width: 35vw;
    min-width: 400px;
    color: #21232e;
  }
  .header-description p {
    font-size: 1.2rem;
  }

  button {
    background-color: rgb(51, 146, 43);
    color: white;
    border: none;
    border-radius: 5px;
    width: 9vw;
    height: 5vh;
    font-size: 1.3rem;
    min-width: 100px;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: 20vh;
  }
  .header-nav .header-button {
    display: flex;
    width: 20vw;
    min-width: 150px;
  }
  .header-nav .header-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20vw;
    min-width: 200px;
  }
  .header-nav .header-link a {
    color: white;
    font-size: 1.3rem;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 768px;
  }
  .main-title {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main-title h2 {
    font-size: 3.5rem;
  }
  .main-box {
    width: 60vw;
    min-width: 768px;
  }
  .main-box-container {
    display: flex;
    flex-direction: row;
    margin: 1vh;
    color: aliceblue;
    background-color: #21232e;
    width: 100%;
    height: 42vh;
    border-radius: 5px;
  }
  .main-box-container .photo-box {
    display: flex;
    flex-direction: row;
    width: 40vw;
    min-width: 400px;
    height: 100%;
    padding: 1vh;
  }
  .main-box-container .photo-box img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .main-box-container .description-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1vh;
  }
  .main-box-container .description-box h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45%;
    color: white;
    font-size: 1.8rem;
  }
  .main-box-container .description-box p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 35%;
    width: 85%;
    min-width: 350px;
    color: #bbbec9;
    font-size: 1.3rem;
  }
  .main-box-container .description-box a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    color: #bbbec9;
    font-size: 1.3rem;
  }

  .main-banner {
    width: 64vmax;
    height: 9vmax;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background: linear-gradient(
      to right,
      rgb(3, 158, 65) 0%,
      rgba(5, 117, 230, 1) 100%
    );
    z-index: 1;
    margin: 5vmax 0 -3.5vmax 0;
  }

  .main-banner .main-banner-box {
    width: 100%;
    height: 100%;
    padding: 0 10vmax;
    display: flex;
    flex-direction: row;
  }

  .main-banner .main-banner-description {
    width: 50%;
    min-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .main-banner .main-banner-description h3 {
    font-family: inherit;
    font-size: 1.8rem;
    color: #21232e;
  }

  .main-banner .main-banner-description p {
    color: #bbbec9;
    font-size: 1.2rem;
  }

  .main-banner .main-banner-button {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .footer {
    background-color: #21232e;
    color: rgb(194, 194, 194);
    height: 10vmax;
    width: 100%;
    min-width: 100vw;
  }
  .footer-wrap {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
  }
  .footer .footer-wrap > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.3%;
    margin: 0 1vmax;
    padding-bottom: 1vmax;
    padding-top: 4vmax;
  }
  .footer-wrap .footer-logo {
    display: flex;
    align-items: center;
  }
  .footer-wrap .footer-logo img {
    min-width: 79px;
    min-height: 79px;
  }
  .footer-wrap .footer-logo p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 1vmax;
  }
  .footer-wrap .footer-logo p > span {
    font-weight: 500;
    font-size: 1rem;
  }
  .footer-wrap .footer-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 350px;
  }
  .footer-wrap .footer-description p {
    font-size: 1.3rem;
  }
  .footer-wrap .footer-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer-wrap .footer-right p {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 3270px) and (min-width: 2561px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .header {
    width: 100%;
    min-height: 85vh;
    background-image: url("../img/m-h-day.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0% 0% 39% 49%/99% 59% 39% 0%;
  }
  .header-wrap {
    padding-top: 7vh;
    padding-left: 10vw;
    height: 100%;
    width: 100%;
  }
  .header-wrap .header-logo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* min-height: 50px; */
  }
  .header-wrap .header-logo img {
    min-width: 100px;
    min-height: 100px;
  }
  .header-wrap .header-logo p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
    font-size: 3.2rem;
    font-weight: 700;
    color: #21232e;
  }
  .header-wrap .header-logo p > span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5rem;
    color: #21232e;
  }
  .header-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 30vw;
    min-width: 400px;
    height: 23vh;
  }
  .header-title h1 {
    font-size: 6.7rem;
    color: #21232e;
  }
  .header-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
    height: 15vh;
    width: 35vw;
    min-width: 400px;
    color: #21232e;
  }
  .header-description p {
    font-size: 1.7rem;
  }

  button {
    background-color: rgb(51, 146, 43);
    color: white;
    border: none;
    border-radius: 5px;
    width: 9vw;
    height: 5vh;
    font-size: 2rem;
    min-width: 100px;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: 20vh;
  }
  .header-nav .header-button {
    display: flex;
    width: 20vw;
    min-width: 150px;
  }
  .header-nav .header-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20vw;
    min-width: 200px;
  }
  .header-nav .header-link a {
    color: white;
    font-size: 2rem;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 768px;
  }
  .main-title {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main-title h2 {
    font-size: 5rem;
  }
  .main-box {
    width: 60vw;
    min-width: 768px;
  }
  .main-box-container {
    display: flex;
    flex-direction: row;
    margin: 1vh;
    color: aliceblue;
    background-color: #21232e;
    width: 100%;
    height: 42vh;
    border-radius: 5px;
  }
  .main-box-container .photo-box {
    display: flex;
    flex-direction: row;
    width: 40vw;
    min-width: 400px;
    height: 100%;
    padding: 1vh;
  }
  .main-box-container .photo-box img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .main-box-container .description-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1vh;
  }
  .main-box-container .description-box h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45%;
    color: white;
    font-size: 2.5rem;
  }
  .main-box-container .description-box p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 35%;
    width: 85%;
    min-width: 350px;
    color: #bbbec9;
    font-size: 2rem;
  }
  .main-box-container .description-box a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    color: #bbbec9;
    font-size: 2rem;
  }

  .main-banner {
    width: 64vmax;
    height: 9vmax;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background: linear-gradient(
      to right,
      rgb(3, 158, 65) 0%,
      rgba(5, 117, 230, 1) 100%
    );
    margin: 5vmax 0 -3.5vmax 0;
  }

  .main-banner .main-banner-box {
    width: 100%;
    height: 100%;
    padding: 0 10vmax;
    display: flex;
    flex-direction: row;
  }

  .main-banner .main-banner-description {
    width: 50%;
    min-width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .main-banner .main-banner-description h3 {
    font-family: inherit;
    font-size: 2.4rem;
    color: #21232e;
  }

  .main-banner .main-banner-description p {
    color: #bbbec9;
    font-size: 1.7rem;
  }

  .main-banner .main-banner-button {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .footer {
    background-color: #21232e;
    color: rgb(194, 194, 194);
    height: 10vmax;
    width: 100%;
    min-width: 100vw;
  }
  .footer-wrap {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
  }
  .footer .footer-wrap > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33.3%;
    margin: 0 1vmax;
    padding-bottom: 1vmax;
    padding-top: 4vmax;
  }
  .footer-wrap .footer-logo {
    display: flex;
    align-items: center;
  }
  .footer-wrap .footer-logo img {
    min-width: 79px;
    min-height: 79px;
  }
  .footer-wrap .footer-logo p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    padding-left: 1vmax;
  }
  .footer-wrap .footer-logo p > span {
    font-weight: 500;
    font-size: 1.3rem;
  }
  .footer-wrap .footer-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 350px;
  }
  .footer-wrap .footer-description p {
    font-size: 1.8rem;
  }
  .footer-wrap .footer-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer-wrap .footer-right p {
    font-size: 1.8rem;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/**********
    iPad 3
    **********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  /* Styles */
}
